spring.application.name=TodoApp
spring.datasource.url=<url>
spring.datasource.username=<username>
spring.datasource.password=<Password>
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect


